.seel {
    
    font-size: 16px; /* Increase font-size */
     /* Add some padding */
    border: 1px solid ; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    background-color:white;
    border: 1px solid #236093; 
    margin-right: 10 px;
    color:#236093;
    width: 200px;
    height: 35px;
    border-radius: 10px; 
}

#input1 {
    
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid ; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 10 px;
    background-color:white;
    border: 1px solid #236093; 
    color:#236093;
    width:100px;
    height:35px;
    border-radius: 10px;

    
}