<div class = "section" >
<b><p> Search Parameters </p></b>
<p style = "color:grey"> Primary condition </p>
<div style="height: 80 px">
<div style="float:left; width:30%;">
 <ng-select [allowClear]="true"
              [items]= "rules"              
               [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)">
  </ng-select>
</div>
<div style="float:left; width:30%;">
   <ng-select [allowClear]="true"
              [items]= "relate"              
               [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)">
  </ng-select>
</div>
<div style="float:left; width:30%;">
   <ng-select [allowClear]="true"
              [items]= "rules"              
               [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)">
  </ng-select>
</div>

<br/>
<br/>
<p style = "color:grey"> Schema length </p>

Min <input type='number' > Max <input type='number' #max>
<br/>
<br/>
 <input type ="submit" id="sav" value="Reference Number" (click)='changeRows(max.value)'/>
</div>


</div>
<div class="section1">
 <div> <b> Schema Format</b></div>
    <table>
    <tr *ngFor='let i of numbers1'>
      <td></td>
     <td>
        <drop-down>
        </drop-down>     
        </td>
       
    </tr>
   </table>
   <table>
      <tr  *ngFor='let i of numbers2'>
    <td ></td>
    <td> <drop-down>
        </drop-down>     
      </td> 
          
    </tr>
   </table>
   <table>
      <tr  *ngFor='let i of numbers3'>
        <td></td>
       <td>
        <drop-down>
        </drop-down>     
        </td>
       
       
    </tr>
  </table>
</div>

